
<section id="duck-carousel" class="carousel slide carousel-center" data-ride="carousel">
  <h3 class="padding-20px">
  <a class="carousel-control-prev" href="#duck-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <span>Featured Products</span>
  <a class="carousel-control-next" href="#duck-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </h3>

  <div class="carousel-inner">
    <% @products = Product.all %>
    <div class="carousel-item active">
      <div class="row">
      <span class="col-md-6">
      <%= link_to (image_tag(@products[2].img_url,  alt: @products[2].name)), product_path(@products[2].id), class: "d-block w-100" %>
      </span>
      <span class="col-md-6">
        <h4 class="padding-20px">
        <%= link_to @products[2].name %>
        </h4>
        <blockquote class="slide-review-comment">
        <% if !@products[2].nil? && @products[2].reviews.length > 0 %>
          <%= @products[2].reviews.first.comment %>
        <% else %>
          <span> We love this great duck product!</span>
        <% end %>

        </blockquote>
      </span>
      </div>
    </div>

    <% features = random_product(@products, 5) %>
    <% features.each do |product| %>
    <div class="carousel-item">
      <div class="row">
      <span class="col-md-6">
      <%= link_to (image_tag(product.img_url,  alt: product.name)), product_path(product.id), class: "d-block w-100" %>
      </span>
      <span class="col-md-6">
        <h4 class="padding-20px">
        <%= link_to product.name %>
        </h4>
        <blockquote class="slide-review-comment">
        <% if product.reviews.length > 0 %>
        <%= product.reviews.first.comment %>
        <% else %>
        <span> We love this great duck product!</span>
        <% end %>
        </blockquote>
      </span>
      </div>
    </div>
    <% end %>
  </div>
</div>
</section>


