
<h4>
  Total orders: <%= @orders.length %>
</h4>

<% @orders.each do |order| %>
  <p>
    Order id: <%= order.id %>,  
    Created on: <%= order.created_at %>,
    Order status: <%= order.status %>
  </p>
<% end %>

<% if session[:merchant_id] %>
  <% order_items = OrderItem.by_merchant(session[:merchant_id]) %>
  <% raise %>
  <% order_items.each do |item| %>
  <% product = Product.where(id: item.product_id) %>
    <li>
      PRODUCT: <%= product[0].name %>,
      QTY: <%= item.qty %>,
      ORDER STATUS: <%= Order.find_by(id: item.order_id).status %>,
      MERCHANT ID: <%= product[0].merchant_id%>
    </li>
  <% end %>
<% end %>
