<% if session[:merchant_id] %>
<%= render "merchants/dashboard" %>

<h4 class="merchant-info">
Total order-items: <%= @order_items.length %>
</h4>

<section class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr class="merchant-order-item">
        <th>ORDER</th>
        <th>DATE</th>
        <th>PRODUCT</th>
        <th>QTY</th>
        <th>SUBTOTAL</th>
        <th>ORDER STATUS</th>
        <th>CUSTOMER</th>
      </tr>
    </thead>

    <tbody>
      <% @order_items.each do |item| %>
        <tr class="merchant-order-item">
          <td><%= item.order_id  %></td>
          <td><%= display_date(Order.find_by(id: item.order_id).updated_at.to_date) %></td>
          <td><%= item.product.name.titleize %></td>
          <td><%= item.qty %></td>
          <td><%= usd(item.subtotal) %></td>
          <td><%= order_status(item) %></td>
          <td><%= customer_name(item) %></td>
      <% end %>
    </tbody>

  </table>
</section>



<% end %>
