<section class="order-container">

<%# KELSEY is taking out the chunk from line 4 to 44 %>
<% if session[:merchant_id] %>
  <!-- displays merchant's open order items -->
  <li class="order-item-header">
    <span>
      PRODUCT
    </span>
    <span>
      QTY
    </span>
    <span>
      PRICE
    </span>
    <span>
      SUBTOTAL
    </span>
    <span>
      ORDER STATUS
    </span>
  </li>
  <% order_items = OrderItem.by_merchant(session[:merchant_id]) %>
  <% order_items.each do |item| %>
    <% product = Product.where(id: item.product_id) %>
    <li class="order-item">
      <span>
        <%= product[0].name %>
      </span>
      <span>
        <%= item.qty %>
      </span>
      <span>
        <%= product[0].price %>
      </span>
      <span>
        <%= item.subtotal %>
      </span>
      <span>
        <%= Order.find_by(id: item.id).status %>
      </span>
    </li>
  <% end %>
<% end %>

<% if session[:order_id] %>
  <!-- displays customer's open order -->
  <h1>SHOPPING CART</h1>
  <h3>Order: <%= @order.id %></h3>
<div class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr>
        <th>PICTURE</th>
        <th>NAME</th>
        <th>QTY</th>
        <th>PRICE</th>
        <th>EDIT</th>
        <th>SUBTOTAL</th>
      </tr>
    </thead>

    <tbody>
      <% @order.order_items.each do |item| %>
        <% product = Product.find_by(id: item.product_id)%>
        <tr>
          <td><%= make_thumbnail_link(product) %></td>
          <td><%= link_to product.name.upcase, product_path(id: product.id) %></td>
  
          <td><%= item.qty %></td>
          <td><%= usd(product.price) %></td>
          <td><%= link_to "Edit Order", edit_order_path(@order.id) %></td>
          <td><%= usd(item.subtotal) %></td>
        </tr>
      <% end %>

        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>GRAND TOTAL</td>
          <td>$$$</td>
        <tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to "Checkout", checkout_path(id: @order.id) %></td>
        <tr>
    </tbody>
  </table>
</div>

  
  

<% end %>

</section>
