  <section class="left_shop_panel">
    <%= link_to "Create new product", root_path%>
    <%= link_to "Order fulfillment page", root_path%>
    <%= link_to "Edit Merchant Info", root_path%>
    <%= link_to "Delete Account", root_path%>
    <%= link_to "FAKE LINK", root_path%>
  </section>