<h1><%= @merchant.name %>'s Dashboard</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "All My Products", merchant_products_path(@merchant), class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Create new product", new_product_path, class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Orders", merchant_orders_path(@merchant), class:"nav-link" %>
  </li>
  <li class="nav-item">
        <%= link_to "Edit my Info", edit_merchant_path(@merchant), class:"nav-link" %>
  </li>
</ul>