<h1><%= @merchant.name %>'s Dashboard</h1>

<section class="two_panels">

<%= render "body" %>

<div class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr>
        <th>PICTURE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>STOCK</th>
        <th>PRICE</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>

    <tbody>
      <% @merchant.products.each do |product| %>
        <tr>
          <td><%= product.img_url %></td>
          <td><%= link_to product.name.upcase, product_path(id: product.id) %></td>
          <td><%= product.description %></td>
          <td><%= product.stock %></td>
          <td><%= usd(product.price) %></td>
          <td><%= link_to "EDIT", edit_product_path(id: product.id) %></td>
          <td><%= link_to "DELETE", product_path(id: product.id), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


</section>