<h1><%= @merchant.name %>'s Dashboard</h1>

<section class="two_panels">

<%= render "left_panel" %>

<div class="table-responsive table-striped">
  <table class="table">
    <thead>
      <tr>
        <th>CATEGORIES</th>
        <th>PICTURE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>STOCK</th>
        <th>PRICE</th>
        <th>EDIT</th>
        <th>ORDERS?</th>
      </tr>
    </thead>

    <tbody>
      <% @merchant.products.each do |product| %>
        <tr>
          <td><%= get_string_of_names(product.categories) %></td>
          <td><%= image_tag product.img_url%></td>
          <td><%= link_to product.name.upcase, product_path(id: product.id) %></td>
          <td><%= first_x_chars(product.description, x=10) %></td>
          <td><%= product.stock %></td>
          <td><%= usd(product.price) %></td>
          <td><%= link_to "EDIT", edit_product_path(id: product.id) %></td>
          <td>link to orders that contain these products</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


</section>