<main>
<% if params[:merchant_id] %>
  <% merchant = Merchant.find(params[:merchant_id]) %>
  <h1>PRODUCTS BY: <%= merchant.name %></h1>
<%else%>
  <h1>All Products</h1>
<%end%>


<div class="container">
    <div class="row">

  <% if params[:merchant_id] %>
    <% @products_by_merchant.each do |product| %>
      <div class="col-md-4">
        <div class="product_img_index"><%= make_thumbnail_link(product)%></div> 
        <%= link_to product.name, product_path(product.id)%> 
        <%= usd(product.price) %></div>
        <% end%></div>
  <%else %>
    <div class="row">
    <% @products.each do |product| %>
        <div class="col-md-4 product-index-item">
        <div class="product_img_index"><%= make_thumbnail_link(product)%></div> 
        <%= link_to product.name, product_path(product.id)%> 
        <%= usd(product.price) %></div>
    <% end%>
        </div>
    <% end%>
  </div>
</main>