<h1>PRODUCT INDEX PAGE:</h1>

<div class="container">
    <div class="row">

  <% if params[:merchant_id] %>
    <% @products_by_merchant.each do |product| %>
      <div class="col-md-4">
        <div class="img"><%= make_thumbnail_link(product)%></div> 
        <%= link_to product.name, product_path(product.id)%> 
        <%= usd(product.price) %></div>
        <% end%></div>
  <%else %>
    <div class="row">
    <% @products.each do |product| %>
        <div class="col-md-4">
        <div class="img"><%= make_thumbnail_link(product)%></div> 
        <%= link_to product.name, product_path(product.id)%> 
        <%= usd(product.price) %></div>
    <% end%>
        </div>
    <% end%>
  </div>