<%= render "merchants/dashboard" %>

<%= form_with model: @product, class:"new-product-form" do |f| %>

   <section class="form-group">
   
  <%= f.label :name, class: "form-row" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :price, class: "form-row" %>
  <%= f.text_field :price, class: "form-control" %>
  <%= f.label :stock, class: "form-row" %>
  <%= f.text_field :stock, class: "form-control" %>
  <%= f.label :description, class: "form-row" %>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.label :img_url, class: "form-row" %>
  <%= f.text_field :img_url, class: "form-control" %>

  <%= f.label :categories %>
  <%= collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>

  </section>

  <%= f.submit "Create a new Product", class: "btn btn-primary product-form-buttom "%>
<% end %>
