<h1>PRODUCT SHOW PAGE</h1>

<h2>Product Details:</h2>

<ul>
  <%= make_thumbnail_link(@product) %>
  <li><%= @product.name%></li>
  <li><%= usd(@product.price)%></li>
  <li><%= @product.description%></li>

  <li><% if @product.merchant_id != session[:merchant_id] && @product.stock != 0 %>

        <%= link_to "Add To Cart", order_items_path(order_item: { product_id: @product.id } ), method: :post, permitted: true, class:"btn btn-primary"  %>
      <% end %></li>

  <li><%= link_to "View All Products by Seller " + @merchant.name, merchant_products_path(@merchant.id) %></li>
  


  <li><%= link_to "Write a Review", new_product_review_path(@product.id), method: :get %></li>
</ul>


