<h1>PRODUCT SHOW PAGE</h1>

<h2>Product Details:</h2>

<%= make_thumbnail_link(@product) %>
<%= @product.name%>
<%= usd(@product.price) %>
<%= @product.description%>
<% if @product.merchant_id != session[:merchant_id] %>
<%= link_to "Add To Cart", order_items_path(order_item: { product_id: @product.id } ), method: :post, permitted: true %>
<% end %>