<h1>PRODUCT SHOW PAGE</h1>

<h2>Product Details:</h2>

<%= make_thumbnail_link(@product) %>
<%= @product.name%>
<%= usd(@product.price) %>
<%= @product.description%>
<%= link_to "Add To Cart", order_items_path(order_item: { product_id: @product.id, order_id: (@order ? @order.id : Order.create.id), qty: 1 } ), method: :post, permitted: true %>
