<!DOCTYPE html>
<html>
  <head>
    <title>MIGHTYDucksBetsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- These are the google fonts Caroline found, just soemthing for now, can refine selection later -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya:900|Bubblegum+Sans|Capriola|Gorditas:700|Knewave|Lemon|Modak|Sriracha&display=swap" rel="stylesheet">
  </head>

  <body>

  <h1><%= link_to "MIGHTY DUCKS", root_path, class: "quiet_link" %></h1>



  <section class="homepage-nav-links">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Products
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% @categories.each do |category|%>
        <% if category.products.count != 0 %>
        <%= link_to category.name, category_path(category.id), class: "dropdown-item" %>
        <% end%>
      <% end %>
    </div>
    </div>
    
    <% if session[:order_id] %>
      <%= link_to "Cart", order_path(session[:order_id]), class:"btn btn-primary" %>
    <% end %>
    </section>

    <section class="users-nav">
    <% if session[:merchant_id] %>
      <%= link_to "#{session[:merchant_name]}'s Dashboard", merchant_path(id: session[:merchant_id]), class: "btn btn-primary"%>
      <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-primary" %>
    <% else %>
    <%= link_to "Login with Github", github_login_path, class:"btn btn-primary" %>
    <% end %>
    </section>

</section>


<section class="flash_section">
  <% flash.each do |name, message| %>
    <p><%= name.upcase %>: <%= message %></p>
  <% end %>
</section>

<main>

    <%= yield %>
  

</main>

<footer>
  <section>MEET THE DuCKS!!!</section>
  <section><%= link_to "Diana", "https://github.com/dhan0406", target: :_blank %></section>
  <section><%= link_to "Caroline", "https://github.com/stupendousC", target: :_blank %></section>
  <section><%= link_to "Kelsey", "https://github.com/kelsk", target: :_blank %></section>
  <section><%= link_to "Steph", "https://github.com/Steph0088", target: :_blank %></section>
</footer>


</body>
</html>
