<!DOCTYPE html>
<html>
  <head>
    <title>MIGHTYDucksBetsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- These are the google fonts Caroline found, just soemthing for now, can refine selection later -->
    <link href="https://fonts.googleapis.com/css?family=Alegreya:900|Bubblegum+Sans|Capriola|Gorditas:700|Knewave|Lemon|Modak|Sriracha&display=swap" rel="stylesheet">
  </head>

  <body>

  <h1><%= link_to "MIGHTY DUCKS", root_path %></h1>



  

  <hr><hr><hr>

  <section class="homepage-nav-links">
  <h3>LOG IN/OUT BUTTONS HERE</h3>
  <% if session[:merchant_id] %>
    <%= link_to "#{session[:merchant_name]}'s Dashboard", merchant_path(id: session[:merchant_id]), class: "btn btn-primary"%>
    <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-primary" %>
    
  <% else %>
  <%= link_to "Login with Github", github_login_path, class:"btn btn-primary" %>
    
  <% end %>

  <h3>NAV LINKS (located here temporarily)</h3>
  <%= link_to "Products", products_path, class:"btn btn-primary" %>
  <% if session[:order_id] %>
    <%= link_to "Cart", order_path(session[:order_id]), class:"btn btn-primary" %>
  <% end %>
  <% if session[:merchant_id] %>
    <%= link_to "Dashboard", merchant_path(session[:merchant_id]), class:"btn btn-primary" %>
  <% end %>
</section>


<hr><hr><hr>
<section class="flash_section">
  <h3>FLASH MSGS HERE</h3>
  <% flash.each do |name, message| %>
    <%= name.upcase %>: <%= message %>
  <% end %>
</section>


    <%= yield %>
  </body>
</html>
